[submodule "apps/ranking-question"]
	path = apps/ranking
	url = git@github.com:AhaSlides-Product/slide-plugin-ranking-question.git
[submodule "apps/idea-board"]
	path = apps/ideaBoard
	url = git@github.com:AhaSlides-Product/slide-plugin-idea-board.git
[submodule "apps/pinOnImage"]
	path = apps/pinOnImage
	url = git@github.com:AhaSlides-Product/slide-plugin-pin-on-image
[submodule "apps/slide-plugin-by-ahasliders"]
	path = apps/slide-plugin-by-ahasliders
	url = git@github.com:AhaSlides-Product/slide-plugin-built-by-ahasliders.git
