.ant-btn.ant-btn-xl {
  height: var(--aha-buttonHeightXL);
  font-size: var(--aha-fontSizeXL);
  padding-inline: var(--aha-buttonPaddingHorizontalXL);
  border-radius: var(--aha-borderRadiusXL);
}

.ant-btn.ant-btn-xl svg.aha-svg-icon {
  width: var(--aha-fontSizeXL);
  height: var(--aha-fontSizeXL);
}

.ant-btn:not(.ant-btn-link):not(.ant-btn-text):not(.ant-btn-ghost):disabled {
  background-color: var(--aha-colorBgFillDisabled);
  border-color: var(--aha-colorBgFillDisabled);
  color: var(--aha-colorTextDisabled);
}

.ant-card .ant-card-body {
  padding: var(--aha-baseSpacing);
}

.ant-card .ant-card-head {
  padding: 0 var(--aha-baseSpacing);
}