.ant-btn.ant-btn-xl {
  height: var(--aha-buttonHeightXL);
  font-size: var(--aha-fontSizeXL);
  padding-inline: var(--aha-buttonPaddingHorizontalXL);
  border-radius: var(--aha-borderRadiusXL);
}

.ant-btn.ant-btn-xl svg.aha-svg-icon {
  width: var(--aha-fontSizeXL);
  height: var(--aha-fontSizeXL);
}

.ant-btn:disabled {
  background-color: var(--aha-colorBgFillDisabled);
  border-color: var(--aha-colorBgFillDisabled);
  color: var(--aha-colorTextDisabled);
}